// compile

*,html, body{
  margin:0; padding: 0;
  font-family: -apple-system , BlinkMacSystemFont , "Segoe UI" , "Roboto" , "Helvetica Neue" , "Ubuntu" , sans-serif;
}

.form{ width: 100%;}


nav{
  display:flex;
  position: sticky;
  top:0;
  justify-content: center;
  padding: 30px;
  background: #f7fafc;
  height: 32px;
  width: auto;
  align-items: center;
  z-index: 10;

  button{
    background-color: #e3e8ee;
    padding: 12px;
    min-width: 64px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    margin: 5px;
  }

  .render{
    background-color: #0a2540;
    color: white;
    margin-left: 50px;
  }
}

.control_bar{
  display: flex;
  flex-direction: row;
}

ul{
  display: flex;
  flex-direction: row;
}


body{
  min-height: 100vh;
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items: top;
  overflow-y: scroll;
}

aside{
  background-color: #212d63;
  width: 50%;
  height: 100vh;
  font-family: 'Menlo', 'Consolas', monospace;
  color: #f5fbff;
  font-weight: 500;
  position: sticky;
  top:0;
}


.preview{
  color: #32325d;
  width:580px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.code{
  font-family: 'Menlo', 'Consolas', monospace;
  font-size: 12px;
  color:#f5fbff;
  overflow-y:scroll;
  max-height: 100%;
  line-height: 1.5;
}

.modal_bg{
  min-height: 100vh;
  position: absolute;
  width: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 100;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 200px;
  background-color: white;
  padding: 30px;
  border-radius: 4px;
  input{
    background-color: #e3e8ee;
    height: 42px;
    border: none;
    border-radius: 3px;
    padding: 5px;
    flex-grow: 1;
    width: auto;
  }
  button{
    background-color: #0a2540;
    color: white;
    padding: 12px;
    min-width: 64px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    margin-left: 10px;
  }

}
.codeInput{
  background: transparent;
  font-family: 'Menlo', 'Consolas', monospace;
  font-size: 12px;
  color:#f5fbff;
  overflow-y:scroll;
  max-height: 100%;
  line-height: 1.5;
}

.copy-btn{
  margin-top: 20px;
  background-color: #0a2540;
  color: white;
  padding: 12px;
  min-width: 64px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  margin-left: 10px;

}
